<include file="Public/mobile_head"/>
<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/css/cartList.css">
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/cartList.js"></script>
<body id="shop">
<div class="top_navs">
	<div class="mainpage">
		<a href="/index.php?s=/addon/Shop/Shop/index.html"><span>首页</span></a>
	</div>
	<div class="nav_detail">
		<a href="#"><span>购物车</span></a>
	</div>
	<div class="nav_cart" onclick="Cart.setCartEmpty()">
		<a href="#"><span>清空</span></a>
	</div>
</div>
<div class="container">
	<volist name="cartList" id="vo">
		<div class="list cell_{$vo['id']}">
			<div class="title">
				<span>
					￥{$vo['discount_price']}元
				</span>
				<a href="#" onclick="Cart.removeGoods({$vo['id']})">删除</a>
			</div>
			<div class="content">
				<div class="image">
					<img src="{$vo['cover']}">
				</div>
				<div class="describe">
					<div class="head">
						<span>{$vo['intro']}</span>
					</div>
					<div class="count">
						<span>数量:</span>
						<input class="min" name="" type="button" value="-" onclick="Cart.minTotal({$vo['id']})"/>
						<input id="text_box_{$vo['id']}" name="goodnum" type="text" value="{$vo['count']}" style="width:25px; padding:0px; border-radius:0px; height:25px;" />
						<input class="add" name="" type="button" value="+" onclick="Cart.addTotal({$vo['id']})" />
					</div>
				</div>
			</div>
		</div>
	</volist>
	<div class="sum">
		<span>总金额:{$sum}元</span>
		<button class="jiesuan" onclick="Cart.orderDetail()">结算</button>
	</div>
</div>
<!-- 底部导航 -->
{$footer_html}
<!-- 统计代码 -->
<notempty name="config.code">
<p class="hide bdtongji">
{$config.code}
</p>
</notempty>
</body>
</html>