<include file="Public/mobile_head"/>
<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/css/cartList.css">
<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/js/cartList.js"></script>
<body id="shop">
<div class="top_navs">
	<div class="mainpage">
		<a href="/index.php?s=/addon/Shop/Shop/index.html"><span>首页</span></a>
	</div>
	<div class="nav_detail">
		<a href="#"><span>结算</span></a>
	</div>
</div>
<div class="container">
	<div class="user_detail">
		<div class="userinfo">
			<span>联&nbsp;系&nbsp;人&nbsp;:</span><input id="username" class="username" type='text'/><br />
			<span>联系电话:</span></span><input id="phone" class="phone" type='text'/><br />
			<span>详细地址:</span></span><input id="address" class="address" type='text' placeholder="省-市-区-详细地址"/><br />
		</div>
	</div>
	<volist name="list.goods" id="vo">
		<div class="list cell_{$vo['id']}">
			<div class="title">
				<span>
					单价:￥{$vo['discount_price']}元
				</span>
				<!-- <a href="#" onclick="Cart.removeGoods({$vo['id']})">删除</a> -->
			</div>
			<div class="content">
				<div class="image">
					<img src="{$vo['cover']}">
				</div>
				<div class="describe">
					<div class="head">
						<span>{$vo['intro']}</span>
					</div>
					<div class="count">
						<span>数量:</span>{$vo['count']}
					</div>
				</div>
			</div>
		</div>
	</volist>

	<div class="sum">
		<span>总数量:{$list.count}件</span>&nbsp;&nbsp;
		<span>总金额:{$list.total_fee}元</span>
		<button class="jiesuan" onclick="Cart.jiesuan()" style="min-width:75px;">提交订单</button>
	</div>
</div>
<!-- 底部导航 -->
{$footer_html}
<!-- 统计代码 -->
<notempty name="config.code">
<p class="hide bdtongji">
{$config.code}
</p>
</notempty>
</body>
</html>